html, body{
    background-repeat: repeat-y;
    background-size: cover;
    margin: 0;
    font-family: 'b-r';
}

.header {
    overflow: hidden;
    background-color: #d01616;
    padding: 12px;
    text-align: center;
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 0;
    margin-left: 0;
}

.login-form{
    max-width: 600px;
    margin: 0 auto;
    position: relative;
}

.footer {
    flex-shrink: 0;
    padding: 16px;
    background: #000;
    color: white;
    margin: 0 !important;
}